<a href="https://colab.research.google.com/github/LekshmiRM/python_assignments/blob/main/Case_Study_SQL_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Case Study on SQL

In [143]:
import sqlite3
import pandas as pd

In [144]:
def load_imdb_database(db_path):
  try:
    conn = sqlite3.connect(db_path)
    print("IMDB database loaded successfully.")
    return conn
  except sqlite3.Error as e:
    print(f"Error loading IMDB database: {e}")
    return None

In [145]:
db_path = "imdb.db"
conn = load_imdb_database(db_path)

if conn:
  print("Connection successful")
  cursor = conn.cursor()

IMDB database loaded successfully.
Connection successful

## Following is the schema of the IMDB database. It lists all tables and their schemas.

In [146]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

print("Database Schema:")
for table in tables:
    table_name = table[0]
    print(f"\nTable: {table_name}")

    cursor.execute(f"PRAGMA table_info({table_name});")
    schema = cursor.fetchall()

    print("Columns:")
    for column in schema:
        cid, name, dtype, notnull, dflt_value, pk = column
        print(f"  - {name} ({dtype}), NOT NULL: {bool(notnull)}, Default: {dflt_value}, Primary Key: {bool(pk)}")

DatabaseError: database disk image is malformed

# Write SQL queries for the following questions

## 1. Write query to list first 5 rows of Person table

In [147]:
q1=cursor.execute("select * from Person LIMIT 5")
rows=cursor.fetchall()
print(rows)

DatabaseError: database disk image is malformed

In [148]:
def q1_grader(q1):
  result = pd.read_sql_query(q1, conn)
  return result.shape == (5, 4)
print(q1_grader(q1))

NameError: name 'q1' is not defined

## 2. Write query to select title, year and rating from Movie table

In [149]:
q2 =cursor.execute( "select title,year,rating FROM Movie")
rows=cursor.fetchall()
print(rows)

DatabaseError: database disk image is malformed

In [150]:
def q2_grader(q2):
  result = pd.read_sql_query(q2, conn)
  return result.shape == (3473, 3) and result['title'][0]=='Mowgli'
print(q2_grader(q2))

NameError: name 'q2' is not defined

## 3. Write query to get title of first movie in movie table sorted by year in ascending order

In [151]:
q3 = cursor.execute("select title from Movie ORDER BY year ASC LIMIT 1")
rows=cursor.fetchall()
print(rows)

DatabaseError: database disk image is malformed

In [152]:
def q3_grader(q3):
  result = pd.read_sql_query(q3, conn)
  return result['title']=='Alam Ara'
print(q3_grader(q3))

NameError: name 'q3' is not defined

## 4. Write query to get the very first year in which Devdas movie was released

In [ ]:
q4 = cursor.execute("select MIN(year) AS first_release_year FROM Movie WHERE title='Devdas'")
rows=cursor.fetchall()
print(rows)

In [153]:
def q4_grader(q4):
  result = pd.read_sql_query(q4, conn)
  return result['year']=='1936'
print(q4_grader(q4))

NameError: name 'q4' is not defined

## 5. Write query to get the number of movies released in 2018

In [ ]:
q5 = cursor.execute("select COUNT(*) AS movie_2018 FROM Movie WHERE year=2018")
rows=cursor.fetchall()
print(rows)

In [154]:
def q5_grader(q5):
  result = pd.read_sql_query(q5, conn)
  return result.iloc[0, 0] == 93
print(q5_grader(q5))

NameError: name 'q5' is not defined

**6.Write query to get the title of the movie with most number of votes in 2012**

In [155]:
q6 = cursor.execute("select title FROM Movie WHERE year=2012 ORDER BY num_votes DESC LIMIT 1")
rows=cursor.fetchall()
print(rows)

DatabaseError: database disk image is malformed

In [156]:
def q6_grader(q6):
  result = pd.read_sql_query(q6, conn)
  return result["title"]=="The Avengers"
print(q6_grader(q6))

NameError: name 'q6' is not defined

## 7. Write SQL query to find all the unique movie titles released in 2018

In [157]:
q7 = cursor.execute("select DISTINCT title FROM Movie WHERE year =2018")
rows=cursor.fetchall()
print(rows)

DatabaseError: database disk image is malformed

In [158]:
def q7_grader(q7):
  result = pd.read_sql_query(q7, conn)
  return result.shape==(93, 1)
print(q7_grader(q7))

NameError: name 'q7' is not defined

## 8. Write SQL query to get total number of movies released between 2017 (inclusive) and 2018 (inclusive)

In [159]:
q8 = cursor.execute("select COUNT(*) AS total_movies FROM Movie WHERE year between 2017 AND 2018")
rows=cursor.fetchall()
print(rows)

DatabaseError: database disk image is malformed

In [ ]:
def q8_grader(q8):
  result = pd.read_sql_query(q8, conn)
  return result.iloc[0, 0] == 211
print(q8_grader(q8))

## 9. Write SQL query to find the year in which maximum number of movies released

In [160]:
q9 = cursor.execute("select year FROM Movie GROUP BY year ORDER BY COUNT(*) DESC LIMIT 1")
rows=cursor.fetchall()
print(rows)

DatabaseError: database disk image is malformed

In [ ]:
def q9_grader(q9):
  result = pd.read_sql_query(q9, conn)
  return result["year"][0]=="2005"
print(q9_grader(q9))

## 10. Write SQL query to find the title of the movie with rating>9.5 and number of votes > 90

In [ ]:
q10 =cursor.execute( "select title FROM Movie WHERE rating >9.5 AND num_votes>90")
rows=cursor.fetchall()
print(rows)

In [ ]:
def q10_grader(q10):
  result = pd.read_sql_query(q10, conn)
  return result["title"][0]=="Man on Mission Fauladi"
print(q10_grader(q10))

## 11. Write SQL query to find the number of movies which has the word 'Dilwale' in their title

In [ ]:
q11 = cursor.execute("select COUNT(*) AS num_movie FROM Movie WHERE title LIKE '%Dilwale%'")
rows=cursor.fetchall()
print(rows)

In [161]:
def q11_grader(q11):
  result = pd.read_sql_query(q11, conn)
  return result.iloc[0, 0] == 4
print(q11_grader(q11))

NameError: name 'q11' is not defined

## 12. Write nested SQL query to find the CID of country which produced most number of movies

In [162]:
q12 = cursor.execute("select CID FROM M_Country GROUP BY CID HAVING COUNT(MID)=(SELECT MAX(movie_count) FROM(select COUNT(MID) AS movie_count FROM M_Country GROUP BY CID))")
rows=cursor.fetchall()
print(rows)

DatabaseError: database disk image is malformed

In [163]:
def q12_grader(q12):
  result = pd.read_sql_query(q12, conn)
  return result.iloc[0]==2.0
print(q12_grader(q12))

NameError: name 'q12' is not defined

## 13. Write nested SQL query to the country which produced most number of movies (use both Courty table and M_Country table)

In [164]:
q13 = cursor.execute("select name from Country WHERE CID =(select CID FROM M_Country GROUP BY CID ORDER BY COUNT(*) DESC LIMIT 1) ")
rows=cursor.fetchall()
print(rows)

DatabaseError: database disk image is malformed

In [ ]:
def q13_grader(q13):
  result = pd.read_sql_query(q13, conn)
  return result.iloc[0, 0] == "India"
print(q13_grader(q13))

## 14. Write SQL query to get the year and number of movies per year having number of movies per year is greater than 100

In [165]:
q14 =cursor.execute( "select year,count(*) AS  number_movies FROM Movie GROUP BY year HAVING COUNT(*)>100 ")
rows=cursor.fetchall()
print(rows)

DatabaseError: database disk image is malformed

In [166]:
def q14_grader(q14):
  result = pd.read_sql_query(q14, conn)
  return result.shape==(13,2)
print(q14_grader(q14))

NameError: name 'q14' is not defined

## 15. Write SQL query to get the Name and Language ID (LAID) corresponding to Malayalam language

In [167]:
q15 = cursor.execute("select Name , Laid from Language WHERE Name='Malayalam'")
rows=cursor.fetchall()
print(rows)

DatabaseError: database disk image is malformed

In [168]:
def q15_grader(q15):
  result = pd.read_sql_query(q15, conn)
  print(result)
  return result[["Name", "LAID"]].values.tolist() == [['Malayalam', 19]]
print(q15_grader(q15))

NameError: name 'q15' is not defined

## 16. Write SQL query to do inner join with movie table and M_Language table with MID colums

In [182]:
q16 = """select * FROM Movie M INNER JOIN M_Language ML on ML.MID=M.MID"""

In [170]:
def q16_grader(q16):
  result = pd.read_sql_query(q16, conn)
  return result
print(q16_grader(q16))

NameError: name 'q16' is not defined

## 17. Write SQL query to list title, year and rating of malayalam movies in the database by doing an inner join with movie table and M_Language table with MID column, also assuming language ID of malayalam movies as 19

In [180]:
q17 = """SELECT m.Title, m.Year, m.Rating FROM Movie AS m INNER JOIN M_Language AS ml ON m.MID = ml.MID WHERE ml.LanguageID = 19;"""

In [171]:
def q17_grader(q17):
  result = pd.read_sql_query(q17, conn)
  return result.shape==(16,3)
print(q17_grader(q17))

DatabaseError: Execution failed on sql 'INSER YOUR QUERY HERE;': near "INSER": syntax error

In [172]:
![ -f academic.db ] && rm academic.db

conn = sqlite3.connect("academic.db")
cursor = conn.cursor()

## 18. Write SQL query to Create a table named students with two columns id (integer type) and name (varchar type)

In [173]:
cursor.execute("""
create table if not exists students(
  ID INTEGER PRIMARY KEY,
  Name TEXT NOT NULL)
  """)

In [174]:
conn.commit()

In [175]:
def q18_grader_a(q18):
  try:
    cursor.execute(q18)
    return True
  except:
    pass

def q18_grader_b(q19):
  result = pd.read_sql_query(q19, conn)
  return result.columns.tolist() == ['id', 'name']

q18b = """SELECT * FROM students;"""

print(q18_grader_a(q18a) and q18_grader_b(q18b))

NameError: name 'q18a' is not defined

## 19. Write SQL query to insert the values (1, 'Alice') into students table

In [ ]:
cursor.execute("insert into students values (1,'Alice')")

In [ ]:
cursor.execute("select * from students")
rows=cursor.fetchall()
for row in rows:
  print(row)

In [ ]:
def q19_grader_a(q19_a):
  try:
    cursor.execute(q19_a)
  except:
    pass
  return True

def q19_grader_b(q19_b):
  result = pd.read_sql_query(q19_b, conn)
  return result.values.tolist() == [[1, 'Alice']]

q19_b = "SELECT * FROM students"
print(q19_grader_a(q19_a) and q19_grader_b(q19_b))

## 20. Write SQL Query to add the following more information to students table

| ID | Name    |
|----|---------|
| 2  | Bob     |
| 3  | Charlie |

In [ ]:

q20 = cursor.execute("insert into students values (2,'Bob'),(3,'Charlie') ")

In [176]:
cursor.execute("select * from students")
rows=cursor.fetchall()
for row in rows:
  print(row)

In [177]:
def q20_grader(q20):
  try:
    cursor.execute(q20)
  except:
    pass
  return True

def q20_grader_b(q20_b):
  result = pd.read_sql_query(q20_b, conn)
  return result.values.tolist() == [[1, 'Alice'], [2, 'Bob'], [3, 'Charlie']]

print(q20_grader(q20) and q20_grader_b(q19_b))

False

In [178]:
# conn.close()