<a href="https://colab.research.google.com/github/LekshmiRM/python_assignments/blob/main/python_practicehw_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program which accepts the radius of a circle from the user and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
import math
radius=float(input("Enter the radius:"))
area= math.pi * radius * radius
print("Area of Circle is", round(area,11))

Enter the radius:3
Area of Circle is 28.27433388231

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name=input("Enter the name : ")
roll_number=int(input("Enter roll_number :"))
mark=int(input("Enter the mark :"))
print("Name :",name)
print("Roll No :",roll_number)
print("Mark :",mark)

Enter the name : Anisha
Enter roll_number :21
Enter the mark :78
Name : Anisha
Roll No : 21
Mark : 78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number

In [ ]:
numbers=[12,3,47,10]

largest = numbers[0]

for n in numbers:
    if n > largest:
        largest = n

print(largest, "is the largest number")

47 is the largest number

4. Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [1]:
start = 1
end = 10

previous_num = 0

for current_num in range(start, end + 1):
    sum_numbers = current_num + previous_num
    print(f"Current Number {current_num} Previous Number {previous_num} Sum: {sum_numbers}")
    previous_num = current_num

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

5. Write a Python program to print only those numbers which are divisible of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [2]:
numbers = [10, 20, 33, 46, 55]

for num in numbers:
    if num % 5 == 0:
        print(num)

10
20
55

6. Write a Python program to check whether a number is prime or not. Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [3]:
num = int(input("Enter the number: "))

# Prime numbers are greater than 1
if num > 1:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            print(f"{num} is not a prime number.")
            break
    else:
        print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter the number: 5
5 is a prime number.

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [4]:
numbers = [10, 40, 30, 70]
reversed_list = []

for i in range(len(numbers) - 1, -1, -1):
    reversed_list.append(numbers[i])

print(*reversed_list, sep=", ")

70, 30, 40, 10

8. Write a Python program to print the following pattern.  
*
**
***
****

In [7]:
pattern = ["*", "**", "***",  "****"]

for line in pattern:
    print(line)

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [5]:
a = 34
b = 12
c = 7


print(max(a, b, c))

34

 Write a Python program to construct the following pattern, using a
nested for loop.  
*
***
****
*****
****
***
**
*

In [8]:
rows = [1, 3, 4, 5, 4, 3, 2, 1]

for stars in rows:
    for i in range(stars):
        print("*", end="")
    print()

*
***
****
*****
****
***
**
*